* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: white;
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    /* background-color: #000; */
    background-color: transparent;
}

.navbar .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    padding: 30px;
    position: absolute;
    /* top: 0; */
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);

}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 90px;
    margin-right: 10px;
}

.logo span {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    color: #f4c095;
    font-weight: bold;

}

ul {
    list-style: none;
    display: flex;
}

ul li {
    margin: 0 15px;
    /* position: relative; */
}

ul li a {
    color: #000;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    border-bottom: 2px solid transparent;
}

/* .arrow-down {
    border: solid #FFFFFF8C;
    border-width: 0 2px 2px 0;
    display: inline-flex;
    padding: 4px;
    margin-left: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

li:hover.arrow-down {
    border-color: #f4c095;
} */


ul li ul.nav-links li {
    display: flex;
    padding: 5px;
    margin-top: 2px;
}

ul li ul.nav-links span {
    color: #000;
    font-weight: 500;
    margin: 10px 20px 15px 5px;
}

ul li ul.nav-links li a {
    color: #000;
}

ul li ul.nav-links {
    width: 30%;
    z-index: 1000;
    display: none;
    position: absolute;
    background-color: #fcfafb;
}

ul li ul.nav-links li a:hover {
    color: #8EC640;
    border-bottom: 2px solid transparent;
}

ul li a:hover {
    color: #8EC640;
    border-bottom: 2px solid #8EC640;
}

ul li:hover ul.nav-links {
    display: block;
}

.product-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.product-card h1{
    font-size: 12px;
    font-size: 100;
    margin-top: 5px;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card p {
    margin: 0;
    color: #000;
}

.product-card .price {
    font-size: 16px;
    margin: 10px 0;
    color:#000
  }

.product-card .price span{
    text-decoration: line-through;
    color: #999;
    margin-left: 5px;
}

/* .contact-info {
    font-size: 14px;
    cursor: pointer;
} */

.menu-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* .menu-icon span {
    margin-right: 10px;
    color: #000;
} */

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 15px;
}

.hamburger-icon div {
    height: 2px;
    background-color: #000;
}


/* Side Menu Styling */
.side-menu {
    height: 100%;
    width: 30;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.side-menu a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;

}

.side-menu a:hover {
    background-color: #8EC640;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 36px;
    color: #fff;
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown-btn {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    background-color: #000;
    padding-left: 15px;
}

.dropdown-content a {
    color: #fff;
    font-size: 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}